form{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
body{
    background-color:lightgray;
}
#keineahnung{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

